
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>INAGBE</h3>
            
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links"> 
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a  routerLink="/inicio" >Inicio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a  routerLink="/bolsa" >Candidatura</a></li> 
              <li><i class="bx bx-chevron-right"></i> <a  routerLink="/resultados" >Resultados</a></li>
              <li><i class="bx bx-chevron-right"></i> <a  routerLink="/criarconta" >Criar Conta</a></li> 
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-links"> 
            <ul>  
              <li><i class="bx bx-chevron-right"></i> <a  routerLink="/login" >Login</a></li> 
              <li><i class="bx bx-chevron-right"></i> <a  routerLink="/sair" >Sair</a></li>  
              <li><i class="bx bx-chevron-right"></i> <a  routerLink="/criarconta" >minha conta</a></li> 
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Nosso Newsletter</h4>
            <p>Receba Notificações sobre novas bolsas</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscrever">
            </form>

          </div>

         
        </div>
      </div>
    </div>
  </div>
    <div class="container">
          <div class="copyright">
        <i class="icofont-envelope"></i> candidatura.inagbe@gmail.com 
        <i class="icofont-phone"></i> +244 922 157 333
        <br>
        &copy; Copyright <strong><span>INAGBE</span></strong>. Todos Direitos Reservados
      </div>
 
    </div>
    <div class="contact-info float-center">
    
    </div>
  </footer><!-- End Footer -->


  <a href class="back-to-top"><i class="icofont-simple-up"></i></a>
