<!-- ======= Hero Section ======= -->
<section id="hero"  style="height: 450px;" >
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel" style="margin-top: -100px;">
  
        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
  
        <div class="carousel-inner" role="listbox">
  
          <!-- Slide 1 -->
          <div class="carousel-item active" style="background-image: url('assets/img/slide/slide-1.jpg');">
            <div class="carousel-container">
              <div class="carousel-content container btn-lg">
                  
                <br>
                <br>
                <h2 class="animated fadeInDown">RETFOP 2020 <span>   </span></h2>
                <p class="animated fadeInUp">Clique no botão abaixo para entrar na sala de suporte  
                    aos Candidatos Selecionados a Bolsa da RETFOP  a partir das 13:00 até as 15:00
                    <br> 
                </p>
                
                <a href="https://meet.google.com/hat-cvty-cgi?pli=1&authuser=0" target="_blank" class=" btn-lg btn-get-started animated fadeInUp scrollto">Entrar</a>
                    
                <br> 
                <p class="animated fadeInUp"> 
                #FIQUEEMCASA    </p>
            
                 </div>
            </div>
          </div>
   
     
        </div>
   
  
      </div>
    </div>
  </section><!-- End Hero -->
  
  <main id="main">
  
   
 
  </main><!-- End #main -->