<div *ngIf="jaPossuiCandidatura" class="form-row alert alert-success">
  Já possui candidatura registada para esta bolsa: <h5>{{bolsa.observacao}}</h5>
</div>
 
<div *ngIf="!jaPossuiCandidatura" >
  <div class="form-row" class="form-row alert alert-info">
     <h5>Estás a candidatar-se a {{bolsa.nome}}</h5>
  </div>
  <h5 class="text-danger"> <strong> {{bolsa.observacao}} </strong></h5>
  <div *ngIf="!jaPossuiCandidatura" class="form-row">
    <mat-form-field class="col-lg-4">
      <mat-label>País</mat-label>
      <mat-select (selectionChange)="changePais()" [required]=false [(ngModel)]="pais_id">
        <mat-option *ngFor="let pais of paises" [value]="pais.id">
          {{pais.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-lg-4">
      <mat-label>Estado / Província</mat-label>
      <mat-select (selectionChange)="changeProvincia()" [disabled]="!pais_id" [required]=false
        [(ngModel)]="provincia_id">
        <mat-option *ngFor="let provincia of provincias" [value]="provincia.id">
          {{provincia.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-lg-4">
      <mat-label>Instituição</mat-label>
      <mat-select (selectionChange)="changeInstituicao()" [disabled]="!provincia_id" [required]=false
        [(ngModel)]="instituicao_id">
        <mat-option *ngFor="let instituicao of instituicoes" [value]="instituicao.id">
          {{instituicao.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field *ngIf="isExterna" class="col-lg-4">
      <mat-label>Curso</mat-label>
      <mat-select [disabled]="!isExterna && !instituicao_id" [required]=true [(ngModel)]="base_curso_id">
        <mat-option *ngFor="let curso of cursosgerais" [value]="curso.id">
          {{curso.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="!isExterna" class="col-lg-4">
      <mat-label>Curso</mat-label>
      <mat-select [disabled]="!isExterna && !instituicao_id" [required]=true [(ngModel)]="edu_curso_id">
        <mat-option *ngFor="let curso of cursos" [value]="curso.id">
          {{curso.nome}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="col-lg-2">
      <input matInput [required]=true [(ngModel)]="media" placeholder="Média anterir" />
    </mat-form-field>
    <mat-form-field class="col-lg-2">
      <input matInput [required]=true [(ngModel)]="ano_ingresso" placeholder="Ano de Ingresso" />
    </mat-form-field>
    <mat-form-field class="col-lg-2">
      <input matInput [required]=true [(ngModel)]="frequencia" placeholder="Ano de Frequencia" />
    </mat-form-field>
    <button (click)="adicionarCandidatura()" class="btn btn-outline-primary col-lg-2">Registar Candidatura</button>
  </div>
</div>
 
<hr/>
<h5>Candidaturas Registadas</h5>
<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="curso">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Curso</th>
    <td mat-cell *matCellDef="let element">{{ getInfoCurso(element) }}</td>
  </ng-container>
  <ng-container matColumnDef="instituicao">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Instituição</th>
    <td mat-cell *matCellDef="let element">{{ getInfoInstituicao(element) }}</td>
  </ng-container>
  <ng-container matColumnDef="situacao">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Situação</th>
    <td mat-cell *matCellDef="let element">{{getEstadoInfo(element.estado) }}</td>
  </ng-container>
  <ng-container matColumnDef="accao">
    <th mat-header-cell *matHeaderCellDef>Acções</th>
    <td mat-cell *matCellDef="let row">
      <button mat-icon-button matTooltip="Imprimir Ficha" (click)="imprimirFicha(row)"
        class="iconbutton" color="primary"><i class="icofont-printer"></i></button>  

     <!--   <button mat-icon-button matTooltip="Editar" (click)="editarCandidatura(row)" class="iconbutton"
        color="primary"><i class="icofont-pencil"></i></button>

      <button mat-icon-button matTooltip="Cancelar Candidatura" (click)="cancelarCandidatura(row)"
        class="red-icon iconbutton" color="primary"><i class="icofont-trash"></i></button>
        -->
    </td>
  </ng-container>
  <tr mat-header-row class="backgroundTable" *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
