<main id="main">
    <!-- ======= Counts Section ======= -->
    <section class="counts section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Resultados - {{bolsa.nome}} </h2>
            </div>

        </div>
    </section><!-- End Counts Section -->
    <!-- ======= About Lists Section ======= -->
    <section class="about-lists">
        <div class="container">

            <div class="block full" class="cargos">


                <table id="example-datatable" class="table table-vcenter table-striped table-condensed table-bordered">

                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Genero </th>
                            <th scope="col">Nivel Formação</th>
                            <th scope="col">Pontuação</th>
                            <th scope="col">Classificação Final</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>
                        </tr>

                    </tbody>

                </table>
            </div>
        </div>
    </section><!-- End About Lists Section -->



</main><!-- End #main -->